<header>
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href='@Url.Action("Index")'>
                            <img src='@Url.Content("~/Content/imageedit_2_3869421679.gif")' alt="Home Page">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.ActionLink("Home", "Index")
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                        <li>
                                            @Html.ActionLink("Septic Services NH", "Septic")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Hardscapes", "Hardscapes")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Excavation", "Excavation")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Landscaping", "Landscaping")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Snow Plowing & Sanding", "Plowing")
                                        </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Gallery", "Gallery")</li>
                            <li>@Html.ActionLink("Testimonials", "Testimonials")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Materials<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                        <li>
                                            @Html.ActionLink("Bark Mulch", "Mulch")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Soil", "Soil")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Crushed Stone", "Crushed")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Decorative Stone", "Decorative")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Gravel and Fill", "Gravel")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Order Materials", "Materials")
                                        </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("About Us", "About")
                            </li>
                            <li>
                                @Html.ActionLink("Contact Us", "Contact")
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</header>
